/* by element */
/* h1{
    color: yellow;
} */




/* by id */
/* #hello{ */
/* color: green;
}


#Name1{
    color: crimson;
}


#Name2{
    color: blueviolet;
}


#Name3{
    color: cornflowerblue;
}

#Name4{
    color: bisque;
} */

body {
    background-color: rgba(255, 0, 0, 0.217);
}



/* 
#para{
    font-size: 25px;
} */


/* .parent_para{
    font-size: 25px;
} */

#heading1 {
    background-color: blueviolet;
    color: bisque;
    text-align: center;
    text-decoration: underline;
    font-family: "Playwrite IE", cursive;

}


#para1 {
    font-size: 40px;
    text-decoration: line-through;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#para2 {
    font-size: 40px;
    text-decoration: overline;
}


#para3 {
    font-size: 20px;
    font-weight: 900;
}




a {
    font-size: 30px;
    text-decoration: none;
    font-weight: 900;
}

h3{
    width: 50%;
    text-align: center;
    background-color: blue;
    color: bisque;
    /* border-width: 8px;
    border-style: double;
    border-color: chartreuse; */
    border: 8px dashed palevioletred;
    border-radius: 5px;
}

#a{
    text-align: center;
}



#para5 {

    text-transform: uppercase;
    color: rgba(44, 58, 5, 0.993);
    background-color: bisque;
    padding: 50px;
    margin: 90px;
    height: 400px;
    width: 400px;

}


.div1 {
    background-color: aqua;
    width: 200px;
    height: 200px;
    /* border-width: 20px;
    border-style: dotted;
    border-color: blueviolet; */


    /* border  shorthand */

    border: 8px solid palevioletred;



}

span {
    background-color: blueviolet;
    height: 400px;

}



#box{
    background-color: cadetblue;
    height: 400px;
    width: 400px;
     border: 10px dashed palevioletred;
    border-radius: 100%;
    /* display: none; */
    visibility: hidden;

}


#content{
    background-color: chartreuse;
    border: 5px solid;
    /* padding: 20px; */
    /* padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 60px; */
   padding: 15px 40px 80px 100px;
   /* margin-top: 40px;
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 50px; */

   margin: 40px 50px;

}
#one{
    background-color: yellow;
    height: 200px;
    width: 200px;
    /* display: inline; */
    display: inline-block;

}
#two{
    background-color: red;
    height: 200px;
    width: 200px;
       display: inline-block;

}


a{
    display: block;
}



#parent{
    background-color: aquamarine;
    height: 500px;
    font-size: 200px;
}


#child{
    background-color: yellow;
    /* width: 100vw; */
    /* height: 50vh; */
  
}





/* create a parent div with border radius 50% set width 600px and height 600px
inside parent div create a child div with border radius 50%
child width and height should be half of parent height and width */





#bg-img{
    height: 800px;
    width: 1500px;

    /* background-color: blueviolet; */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHbOm7VDsPeIHwedwrtznQrX2WCo0fBH7o2Q&s);
    background-size: cover;

}


#h1{
    color: bisque;
    font-size: 80px;
    text-align: center;
    text-decoration: underline;
}